body {
    padding-left: 75px;
    padding-top: 10px;
    background-color: #957DAD;
}

h1 {
    margin-left: 460px;
    font-family: 'comic sans MS', Courier, monospace;
    margin: 0 auto;
}

h4 {
    margin-left: 460px;
    font-family: 'comic sans MS', Courier, monospace;
    margin: 0 auto;
    padding: 0px;
}

.levels {
    border: 3px solid black;
    background-color: #ffffff;
}

.resHint{
    border: 3px solid black;
}

.parent-display{
    display: flex;
}
.timerModal{
    position: relative;
    display: none;
    margin-top: 30px;
    margin-left: 40px;
    border: 3px solid red;
    height: 70px;
    width: 90px;
    transition: all;

}

/* .timerModal:hover{
    display: none;
    margin-top: 30px;
    margin-left: 90px;
    border: 3px solid orange;
    height: 70px;
    width: 90px;

} */


table{
    border: 3px solid peru;
    background-color: #39F;
    background-color: #b792c0;
}






.cell{
    font-size: 15px;
    height: 40px;
    width: 50px;
    border: 3px solid white;
    /* border-collapse: collapse; */
}


.cell2{
    font-size: 15px;
    height: 40px;
    width: 50px;
    border: 3px solid white;
    /* border-collapse: collapse; */
} 


.shown{
background-color: #faea70;
}


.flagTop{
    position: absolute;
    margin-left: 250px;
    padding-left: 5px;
}


/* .popup {
    background-color: orange;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 20px;
} */

.time{
    text-align: left;
    background-color: red;

}

.second-position-timer{    
    text-align: center;
    border: 3px solid black;
    opacity: 25%;
    border-radius: 25px;
    
}



/* .new{
background-color: red;
    
}

.off{
    height: 20px;
    width: 20px;
    border: red solid 3px;
} */

.FFLLAAGG{
    height: 20px;
    width: 20px;
    border-radius: 20%;
    background-color: rgb(133, 4, 4);
}

.FFLLAAGG {
    height: 5px;
    width: 3px;
    border-radius: 88%;
    background-color: rgb(133, 4, 4);
    margin: left;
    margin-left: 25px;
    border: 3px solid black;

}

.cellClassList{

    height: 20px;
    width: 200px;
    border-radius: 80%;
    background-color: rgb(133, 4, 4);

}