body{
    padding: 1rem;
}
h1, h2, p, div{
    padding: 1rem 2rem;
}
#box{
    border: 1px solid #999;
}


.ON{

    height: 20px;
    width: 20px;
    border: black solid 3px;
}




#ChangeImage{
background: red;
height: 10px;
width: 10px;


}